body {
  font-size: small;
  font-family: Verdana,Helvetica,Arial;
  line-height: 1.6em;
}

h1,h2 {
  color: #007e7e;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}
.guarantee {
  border:1px dashed whire;
  background-color: #a7cece;
  padding: 25px;
  margin: 30px;
  line-height: 1.9em;
  font-style: italic;
  color: #444444;
  font:italic Georgia,'Times New Roman'
}
.guarantee {
  background-image: url(images/background.gif);
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 80px;
  margin-right: 250px;
}
.elixirs {
  border-width: thin;
  border-style: splid;
  border-color: #007e7e;
  border: thin splid 
  width: 200px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-left: 20px;
  background-image: url(images/cocktail.gif);
  background-repeat: repeat-x;
  text-align: center;

}
h1，h2 {
  color: #007e7e
}
.elixirs h2 {
  color: black;
}
.elixirs h3 {
  color: #d12c47
}
.elixirs {
  line-height: 1;
}
.cd {
  font-style: italic;
}
.artist {
  font-weight: bold;
}
a:link {
  color: green;
}
a:visited {
  color: red;
}
a:hover {
  color: yellow;
}
.elixirs a:link {
  color: #007e7e;
}
.elixirs a:visited {
  color: #333333;
}
.elixirs a:hover {
  background: #f88396;
  color: #0d5353;
}