.backgroung {
  display: grid;
  margin: 2rem auto;
  z-index: 100;
  /* position: absolute; */
  margin-top: 10px;
  
}

.search {
  margin-bottom: 50px;
  letter-spacing: 2px;
  font-size: 45px;
  line-height: 53px;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.ss {
  font-size: 14px;
  border: 2px solid rgba(112,112,112,0.38);
  border-radius: 5px;
  color: var(--color-gray-dark-plus);
  
}

h2 {
  color: white;
  font-size: 45px;
  line-height: 53px;
  margin-bottom: 18px;
  /* font-weight: 500; */
  display: block;
  
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.search {
  color: white;
}

.all {
  z-index: 1;
  position: absolute;
  top: 30px;
  padding-left: 80px;
}

.on {
  position: relative;
  
}

.paragraph {
  color: white;
  font-size: 26px;
  letter-spacing: 1px;
  margin-bottom: 46px;
  
}

button {
  background-color: #007bff;
  color: white;
}

button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default
}

.row {
  color: white;

}

.backgroung {
  opacity: 0.7;
}

/* .super {
  font-size: 0.5px;
} */

.super {
  width:340px;
  height:400px;
  padding-left: 90px;
  position: relative;
  margin-top: 100px;
  margin-top: 30px;
}

.cole {
  margin: 40px;
  text-transform: uppercase;
  position: relative;
  border: solid white;
  border-width: 2px;
  color: white;
}


/* .col {
  
} */
/* .ss {
  
} */

.paragraph {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}